@model IEnumerable<Ilac>

@{
    ViewData["Title"] = "Details";
}

@foreach (var drug in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/drugs/@(drug.Ilacadı).png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@drug.Ilacadı</h5>
            <p class="card-text">Stock Statu: @drug.Miktar</p>
            <a asp-controller="Ilacs" asp-action="Details" asp-route-id="@drug.Id" class="btn btn-primary">Go to Drug Details</a>
        </div>
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
