@model TakipEczane.Models.Ilac

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ilac</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ilacadı" class="control-label"></label>
                <input asp-for="Ilacadı" class="form-control" />
                <span asp-validation-for="Ilacadı" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barkod" class="control-label"></label>
                <input asp-for="Barkod" class="form-control" />
                <span asp-validation-for="Barkod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miktar" class="control-label"></label>
                <input asp-for="Miktar" class="form-control" />
                <span asp-validation-for="Miktar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmaId" class="control-label"></label>
                <select asp-for="FirmaId" class="form-control" asp-items="ViewBag.FirmaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RafId" class="control-label"></label>
                <select asp-for="RafId" class="form-control" asp-items="ViewBag.RafId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FormId" class="control-label"></label>
                <select asp-for="FormId" class="form-control" asp-items="ViewBag.FormId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EtkiId" class="control-label"></label>
                <select asp-for="EtkiId" class="form-control" asp-items="ViewBag.EtkiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EtkenmaddeId" class="control-label"></label>
                <select asp-for="EtkenmaddeId" class="form-control" asp-items="ViewBag.EtkenmaddeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
